.hr{
    margin: 20px 0px;
}
.inputs{
    padding: 10px;
}
.inputs input{
    font-size: 20px;
    display: flex;
    flex: end;
}
.btns{
    justify-content: right;
    text-align: right;
}
.btns button{
    margin: 0px 10px;
}