.card{
    width: 20rem;
    margin: 1rem;
    padding: 10px;

    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(82, 186, 255);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: all 0.3s ease-in-out;
}
.btn{
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}