.main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
    padding: 20px;
}
/* .btn{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    position: absolute;
    z-index: -1;
    right: 50px;
    bottom: 40px;
    font-size: 40px;
} */

.main{
    position: relative;
}


.plusbtn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    

}