.header{
    background-color: rgb(77, 184, 246);
    height: 70px;
    /* justify-content: center; */
    align-items: center;
    padding: 0px 100px;
    justify-content: space-between;
    display: flex;
}

.btn{
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    
    transition: all 0.3s ease-in-out;
}